<!DOCTYPE html>
<html lang="ru" ng-app="propertyApp">
<head>
    <meta charset="UTF-8">
    <title>Список недвижимости</title>
    <link rel="stylesheet" href="./css/main-page-styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
    <script src="./js/app.js"></script>
</head>
<body ng-controller="PropertyController">
<h2>Список недвижимости</h2>
<button ng-click="goToCreate()">Добавить</button>

<table>
    <thead>
    <tr>
        <th>Фото</th>
        <th>Название</th>
        <th>Цена</th>
        <th>Тип</th>
        <th>Адрес</th>
        <th>Период</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="p in properties">
        <td><img ng-src="{{p.photoUrls[0] || fallbackImg}}" style="height: 100px;"></td>
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.type}}</td>
        <td>{{p.address}}</td>
        <td>{{p.period}}</td>
        <td><button ng-click="delete(p.id)">Удалить</button></td>
    </tr>
    </tbody>
</table>
</body>
</html>
